.scryfall-link {
  display: none;
  position: absolute;
  bottom: 70%;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 3;

  background-image: url('https://assets.scryfall.com/icon.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.add-card-button {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  height: 40%;
  width: 20%;
  transform: translateY(-50%);
  z-index: 4;

  background-color: rgba(63, 63, 63, 0.8);
  cursor: pointer;
}

.glyphicon.glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.card:hover .scryfall-link, .card:hover .add-card-button {
  display: block;
}

.decklist {
  background-color: DimGray;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2vw;
  position: fixed;
  right: 0;
  top: 0;
  width: 2vw;
  z-index: 10;
}

.decklist:hover {
  padding: 6vh 1vw 1vh;
  width: 15vw;
}

.decklist-cards-container {
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 5px;
}

.decklist-cards-container.empty {
  border: none;
  padding: 0;
}

.decklist-card-wrapper {
  align-items: center;
  display: flex;
  min-height: 24px;
}

.remove-card-button {
  cursor: pointer;
  margin-right: 2px;
}

.decklist-card {
  overflow-x: hidden;
  overflow-y: visible;
  white-space: nowrap;
}

.decklist-buttons-wrapper {
  display: flex;
  margin-top: 5px;
  min-height: 34px;
}

.copy-decklist-button {
  margin-right: 5px;
}

.decklist-button {
  background-color: none;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  padding: 5px 0;
  text-align: center;

  -webkit-transition: background-color ease-out 1s;
  transition: background-color ease-out 1s;
}

.decklist-button:active {
  background-color: white;

  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

